@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add a Movie";
}
@model BC_IS413_Assignment3.Models.Movies;

<form asp-action="AddMovies" method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" type="text" />
            <span class="validation" asp-validation-for="Category"></span>
        </div>
        <div class="pure-control-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" />
            <span class="validation" asp-validation-for="Title"></span>
        </div>
        <div class="pure-control-group">
            <label asp-for="Year">Year</label>
            <input asp-for="Year" type="text" />
            <span class="validation" asp-validation-for="Year"></span>
        </div>
        <div class="pure-control-group">
            <label asp-for="Director">Director</label>
            <input asp-for="Director" type="text" />
            <span class="validation" asp-validation-for="Director"></span>
        </div>
        <div class="pure-control-group">
            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
            <span class="validation" asp-validation-for="Rating"></span>
        </div>
        <div class="pure-control-group">
            <label class="pure-radio" asp-for="Edited">Edited</label>
            <label class="pure-radio" asp-for="Edited">Yes</label>
            <input asp-for="Edited" type="radio" value="true" />
            <label class="pure-radio" asp-for="Edited">No</label>
            <input asp-for="Edited" type="radio" value="false" />
        </div>
        <div class="pure-control-group">
            <label asp-for="LentTo">LentTo</label>
            <input asp-for="LentTo" type="text" />
        </div>
        <div class="pure-control-group">
            <label asp-for="Notes">Notes</label>
            <input asp-for="Notes" type="text" />
            <span class="validation" asp-validation-for="Notes"></span>
        </div>
            <button class="pure-button pure-button-primary" type="submit">Submit</button>
    </fieldset>
</form>